.slide-nav
  %ul#sidebar.nav.nav-stacked
    %li
      %a#new-dish.dishes-new
        %i.icon-plus-sign.icon-2x
        = t('.new')
    %li
      %a.dishes-edit
        %i.icon-edit.icon-2x
        = t('.edit')
