#dishes
  .form-container
    .title
      = t('.dishes')
    .slide-menu
      = render 'slide_menu'  
    .data-table
      = render 'dishes_data_table'
  #new-dish-modal.modal.fade
  #new-category-modal.modal.fade
